.div1,.div2,.div3{
    width: 400px;
    background-color: azure;
    }

.div1{
    border-left: 5px solid red;
}
.div2{
    visibility: hidden;
}
.div3{
    border-left: 5px solid rgb(0, 255, 119);
    }
