 div{
    background-color: rgb(215, 215, 215);
    position: relative;
    padding: 30px;
    margin: 25% auto;
    width: 400px;
    font-size: 20px;
 }
 
span{
    font-size: 35px;
        background-color: red;
        color: white;
        font-weight: bold;
        position: absolute;
        width: 47px;
        height: 54px;
        left: -26px;
        top: 15px;
        text-align: center
}
/* div::first-letter{
    font-size: 35px;
        background-color: red;
        color: white;
        font-weight: bold;
        position: absolute;
        width: 47px;
        height: 54px;
        left: -26px;
        top: 15px;
        text-align: center
   
} */