.p1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: italic;
}
.p2 {
    
    font-weight: 700;
    font-family: 'Cairo', sans-serif;
        font-family: 'Open Sans', sans-serif;
}
.p3{
    font-weight: 400;
    font-family: 'Cairo', sans-serif;
        font-family: 'Jomhuria', cursive;
        font-family: 'Open Sans', sans-serif;
}