:root {
    --mainColor: rgb(0, 150, 136);
}

h1 {
    width: 150px;
    margin: 15% auto;
    position: relative;
    padding: 15px;
    display: flex;
    align-items: center;
    color: white;
}

h1::before {
    width: 80%;
    height: 100%;
    content: "";
    background-color: var(--mainColor);
    position: absolute;
    z-index: -1;
    top: 0px;
    left: -30px;

}

h1::after {
    width: 10%;
    height: 100%;
    content: "";
    background-color: var(--mainColor);
    position: absolute;
    z-index: -1;
    right: 60px;
    left: -48px;
    border: 8px solid white;
    outline: 0;
    transform: skewX(22deg);
    -moz-transform: skewX(22deg);
    -ms-transform: skewX(22deg);
    -o-transform: skewX(22deg);
    -webkit-transform: skewX(22deg);
}