p {
    padding: 20px;
    font-size: 25px;
    width: 600px;
    margin: 30px;
    background-color: rgb(241, 241, 241);
    position: relative;
    left: 177px;
    border-left: 7px solid rgb(231, 0, 112);
}

p::before {
    content: attr(data-person);
    display: inline-block;
    background-color: rgb(213, 213, 213);
    padding: 6px;
    position: absolute;
    left: -170px;
    top: 15px;
    width: 104px;
    text-align: center;
}

p::after {
    content: "";
    position: absolute;
    left: -44px;
    width: 0;
    height: 0;
    background-color: transparent;
    top: 14px;
    border-width: 20px;
    border-style: solid;
    border-color: transparent rgb(231, 0, 112) transparent transparent;
}